// $green_rgba: rgba(6,64,52,.5);
// $beige_rgba: rgba(226,213,195,.5);
$green_hex: #064034;
$beige_hex: #e2d5c2;

$msu_green: #0F4436;
$sea_nymph: #7E9F98;
$phthalo_green: #0C352B;
$azureish_white: #D4EFEA;
$mineral_green: #43665E;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Comfortaa', sans-serif;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.section {
  padding: 80px 0;
}

.section-title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 50px;
}

// Header

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: $green_hex;
  height: 70px;
  box-shadow: 0px 15px 10px 0px rgba(34, 60, 80, 0.2);
}

.header-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.header-logo {
  position: absolute;
  left: 20px;
  width: 130px;
  height: 55px;
  background-image: url(./img/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.nav {
  display: flex;
  list-style-type: none;
  gap: 50px;
  font-size: 1.2rem;
}

.nav-item {
  transition: 0.1s;
  &:hover {
    transform: scale(1.1);
  }
}

.nav-link {
  text-decoration: none;
  color: white;
  &:active {
    color: grey;
  }
}

.header-right {
  position: absolute;
  right: 20px;
}

.header-insta-icon {
  color: white;
  font-size: 1.5rem;
}

.mobile-header {
  display: none;
}

// Hero

.hero {
  height: 600px;
  background-image: url(./img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  width: 1px;
  height: 1px;
  font-size: 1px;
}

.hero-logo {
  display: none;
}

// About

.about {
  background-color: $beige_hex;
  color: $green_hex;
}

.about-card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.about-card__text {
  width: 45%;
  line-height: 2;
  font-size: 1.2rem;
}

.about-card__image {
  width: 45%;
  height: 600px;
  background-position: center;
  background-size: cover;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.about-card__image-1 {
  background-image: url(./img/food1.jpg);
}

.about-card__image-2 {
  background-image: url(./img/food2.jpg);
}

.about-card__image-3 {
  background-image: url(./img/food3.jpg);
}
// Menu

.menu {
  color: white;
  background-color: $green_hex;
}

.menu-text {
  line-height: 2;
  margin-bottom: 50px;
  padding: 0 20px;
}

.image-wrapper {
  display: flex;
  width: 100%;
  height: 500px;
  justify-content: space-around;
}

.menu-image {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.menu-image-food {
  background-image: url(./img/menu_cover.jpg);
}

.menu-image-bar {
  background-image: url(./img/bar_cover.jpg);
}

.menu-link {
  text-align: center;
  font-size: 2.5rem;
  text-decoration: none;
  color: white;
  transition: 0.1s;
  border-radius: 30px;
  padding: 20px 10px;
  background-color: rgba(6,64,52,.9);
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    color: grey;
  }
}
// Как добраться
.map {
  color: $green_hex;
  background-color: $beige_hex;
}

.map-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.map-text {
  width: 45%;
  text-align: left;
  line-height: 3;
}

.map-insta-link {
  text-decoration: none;
  color: $green_hex;
}

.map-insta-icon {
  font-size: 30px;
  color: $green_hex;
}

.map-yandex {
  width: 45%;
  height: 500px;
}

// Фото

.photo {
  background-color: $green_hex;
  color: $beige_hex;
}

.photo-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.photo-slider-image {
  width: 80%;
}

.fa-arrow-left, .fa-arrow-right {
  font-size: 2rem;
  color: $beige_hex;
  cursor: pointer;
}

// Команда

.team {
  background-color: $beige_hex;
  color: $green_hex;
}

.team-card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.team-photo {
  height: 500px;
  width: 45%;
  background-image: url(./img/team_chef.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.team-text {
  width: 45%;
  line-height: 2;
  color: $green_hex;
}

// Банкеты

.banket {
  background-color: $green_hex;
  color: $beige_hex;
}

.banket-text {
  line-height: 2;
}

// Забронировать

.book {
  background-color: $beige_hex;
  color: $green_hex;
}

.book-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.book-text {
  color: $green_hex;
  line-height: 2;
  width: 50%;
  margin-bottom: 50px;
  text-align: center;
}

.book-form {
  width: 50%;
  margin: 0 auto;
}

// Footer

.footer {
  height: 100px;
  background-color: $green_hex;
  color: white;
}

.footer-wrapper {
  height: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-phone {
  font-size: 1.2rem;
}

.footer-phone-icon {
  margin-right: 5px;
}

.footer-insta-link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.footer-insta-icon {
  margin-right: 5px;
}

@media screen and (max-width: 1199px) {
  .wrapper {
    width: 900px;
  }

  .header {
    position: relative;
  }

  .header-logo {
    display: none;
  }

  .about-card {
    flex-direction: column;
  }

  .about-card__text {
    width: 90%;
  }

  .about-card__image {
    width: 90%;
    height: 300px;
    order: -1;
    margin-bottom: 20px;
  }

  .about-card__image-2 {
    background-position: 0% 25%;
  }

  .menu-link {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 899px) {
  .wrapper {
    width: 600px;
  }

  .header {
    position: relative;
  }

  .map-wrapper {
    flex-direction: column;
  }

  .map-text {
    width: 90%;
    text-align: center;
    line-height: 2;
  }

  .map-yandex {
    width: 90%;
  }
}

@media screen and (max-width: 599px) {
  .wrapper {
    width: 100%;
  }

  .header {
    height: auto;
    position: absolute;
    background-color: transparent;
    box-shadow: none;
  }

  .header-wrapper, .header-right {
    display: none;
  }

  .mobile-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    font-size: 2rem;
  }

  .burger {
    display: inline;
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 2;
  }

  .checkbox {
    display: none;
  }

  .checkbox:checked ~ .mobile-menu {
    height: 170px;
    overflow: auto;
  }

  .mobile-menu {
    height: 0;
    overflow: hidden;
    color: white;
    transition: .5s;
    background-color: $green_hex;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .nav {
    flex-direction: column;
    gap: 0;
    align-items: center;
  }

  .nav-item {
    padding: 10px 0;
  }

  .hero {
    padding: 0;
  }

  .hero-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    display: flex;
    justify-content: center;
  }

  .hero-logo {
    display: block;
    width: 90%;
    position: absolute;
    top: 30%;
  }

  .image-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .menu-image {
    width: 90%;
  }
}