* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #FF9797;
}

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.calculator {
  width: 500px;
  height: 650px;
  border-radius: 20px;
  background-color: #2D5A9D;
  box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.3);
  overflow: hidden;
  font-size: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
}

.display {
  height: 150px;
  text-align: right;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
  width: 80%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 40px;
}

.history {
  font-size: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
}

.currentInput {
  font-weight: bold;
  font-size: 2.5rem;
  height: 2.5rem;
  overflow: hidden;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 10px;
}

.button {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 0;
  background-color: transparent;
  color: white;
  font-size: 2rem;
  align-self: center;
  justify-self: center;
}

.equals-button {
  background-color: white;
  color: #2D5A9D;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

@media screen and (max-width: 699px) {
  .root {
    justify-content: center;
    align-items: center;
  }
  .calculator {
    width: 100%;
    height: 100%;
    border-radius: 0;
    justify-content: center;
  }
}