@font-face {
    font-family: ProximaNovaRegular;
    src: url(../fonts/ProximaNova-Regular.ttf);
}
@font-face {
    font-family: ProximaNovaBold;
    src: url(../fonts/ProximaNova-Bold.ttf);
}
:root {
    --yellow: #bea67c;
    --white: #ffffff;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: ProximaNovaRegular, sans-serif;
}
html, body {
    width: 100%;
}
a {
    text-decoration: none;
}
.header {
    height: 1045px;
    position: relative;
}
.leftHeader {
    position: absolute;
    background-image: url(../images/leftmain.png);
    width: 55%;
    height: 1000px;
}
.rightHeader {
    position: absolute;
    right: 0px;
    background-image: url(../images/rightmain.png);
    width: 45%;
    height: 1045px;
}
.nav {    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    padding: 20px 0;
}
.navSection {
    display: flex;
    align-items: center;
}
.hamburger {
    width: 33px;
    position: relative;
}
.hamburger div {
    height: 1px;
    background-color: var(--yellow);
    margin: 10px 0;
}
.menu {
    text-transform: uppercase;
    font-size: 15px;
    width:auto;
    opacity: 0.5;
    font-family: ProximaNovaBold;
    margin-left: 12px;
    color: var(--white);
    transition: all 0.3s linear;
}
.menu:hover {
    opacity: 1;
}
.navWooder {
    position: relative;
    left: 100px;
}
.topWooder {
    position: relative;
    font-family: ProximaNovaBold;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 0.3em;
    color: var(--white);
    display: block;
}
.topWooderLine {
    height: 4px;
    width: 64px;
    background-color: var(--yellow);
    position: absolute;
    top: 20px;
    left: 44px;
}
.home, .products, .about {
    text-transform: uppercase;
    opacity: 0.5;
    font-size: 15px;
    line-height: 27px;
    font-family: ProximaNovaBold;
    color: var(--white);
    margin-left: 100px;
    transition: all 0.3s linear;
}
.home:hover, .products:hover, .about:hover {
    opacity: 1;
}
.info {
    background-image: url(../images/info.png);
    height: 23px;
    width: 23px;
    margin-right: 50px;
    z-index: 2;
}  
.lang {
    text-transform: uppercase;
    opacity: 0.5;
    font-size: 15px;
    font-family: ProximaNovaBold;
    position: relative;
    color: var(--white);
    transition: all 0.3s linear;
}
.lang:hover {
    opacity:1;
}
.lang:after {
    content: "";
    border: 4px solid transparent;
    border-top: 4px solid var(--yellow);
    position: absolute;
    top: 7px;
}
.innerWidth {
    width: 62%;
    margin: 300px auto 0 auto;
    position: relative;
    display: flex;
}
.numberLine {
    font-size: 52px;
    color: var(--yellow);
    font-family: ProximaNovaBold;
    writing-mode: vertical-lr;
    display: flex;
    align-items: center;
    position: relative;
    top: -40px;
}
.numberLine:before {
    content: '';
    display: inline-block;
    height: 51px;
    width: 4px;
    background-color: var(--yellow);
    margin-bottom: 20px;
}
.numberDots ul{
    list-style-type: none;
    writing-mode: horizontal-tb;
}
.numberDots ul li{
    border: 5px solid #303030;
    border-radius: 50%;
    margin-top: 40px;
}
.numberDots ul a:first-child li{
    border: 5px solid var(--yellow);
    margin-top: 85px;
}
.bigWooder {
    font-family: ProximaNovaBold;
    color: var(--yellow);
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 530px;
    margin: 0 auto;
}
.learnMore {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 305px;
    color: var(--white);
    text-transform: uppercase;
    font-size: 14px;
    border: 2px solid white;
    text-align: center;
    letter-spacing: 0.2em;
    padding: 18px 0;
    margin-top: 60px;
}
.learnMore div {
    width: 34px;
    height: 1px;
    background-color: white;
    position: relative;
}
.learnMore div:after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border: solid white;
    border-width: 0px 1px 1px 0;
    transform: rotate(-45deg);
    position: absolute;
    top: -3px;
    left: 26px;
}
.scroll {
    color: rgba(255,255,255, 0.1);
    letter-spacing: 0.2em;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
}
.scroll div {
    background-color: white;
    height: 74px;
    width: 1px;
    margin: 23px auto;
    position: relative;
}
.scroll div::after {
    content: ' ';
    display: inline-block;
    height: 6px;
    width: 6px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    transform: rotate(45deg);
    position: absolute;
    top: 67px;
    left: -3px;
}
.scroll p {
    writing-mode: vertical-lr;
}
.fAndD {
    font-size: 14px;
    opacity: 0.2;
    color: var(--yellow);
    text-transform: uppercase;
    position: absolute;
    right: 0;
    writing-mode: vertical-lr;
    font-family: ProximaNovaBold;
    letter-spacing: 0.2em;
    white-space: nowrap;
    display: inline-block;
}
.share {
    position: absolute;
    right: 30px;
    bottom: 25px;
}
.innerWidthLine {
    height: 51px;
    width: 4px;
    background-color: var(--yellow);
    align-self: flex-end;
    position: relative;
    top: 160px;
}
.bigF {
    font-family: ProximaNovaBold;
    font-size: 395px;
    opacity: 0.07;
    color: var(--yellow);
    position: absolute;
    top: 410px;
}
.wrapper {
    width: 62%;
    margin: 0 auto;
    padding-left: 20px;
}
.furniture {
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
}
.furnitureText {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto;
    column-gap: 30px;
    grid-template-areas:
        "div1 fur"
        "div2 text"
        ". learn";
} 
.furnitureText div:first-child {
    grid-area: div1;
    width: 100%;
    height: 1px;
    background-color: black;
    align-self: center;
    padding-right: 30px;
}  
.furnitureText h2 {
    font-size: 48px;
    color: black;
    font-family: ProximaNovaBold;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    grid-area: fur;
}
.furnitureText div:nth-child(3) {
    grid-area: div2;
    height: 2px;
    width: 40px;
    background-color: var(--yellow);
    align-self: baseline;
    justify-self: end;
    margin-top: 45px;
}
.furnitureText p {
    font-size: 15px;
    color: #464646;
    letter-spacing: 0.025em;
    margin-top: 35px;
    line-height: 25px;
    grid-area: text;
}
.furnitureText a {
    text-transform: uppercase;
    font-family: ProximaNovaBold;
    font-size: 14px;
    letter-spacing: 0.2em;
    color: black;
    margin-top: 35px;
    display: inline-flex;
    align-items: center;
    position: relative;
    grid-area: learn;
}
.furnitureText a:after {
    content: "";
    display: inline-block;
    height: 1px;
    width: 33px;
    background-color: var(--yellow);
    margin-left: 10px;
}
.furnitureText a:before {
    content: "";
    display: inline-block;
    height: 4px;
    width: 4px;
    border: solid var(--yellow);
    border-width: 1px 1px 0 0;
    border-radius: 1px;
    transform: rotate(45deg);
    position: absolute;
    left: 154px;
    top: 6px;
}
.furniture img {
    width: 50%;
    grid-area: img;
}
.n01 {
    position:absolute;
    bottom: 0;
    left: 5px;
    font-size: 36px;
    letter-spacing: 0.075em;
    font-family: ProximaNovaBold;
    color: black;
}
.n01 span {
    color: var(--yellow);
    font-family: ProximaNovaBold;
}
