.pokemon-profile {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  border: 1px solid red;
  border-radius: 2rem;
  align-items: center;
  width: 70vw;
  margin-top: 2rem;
  padding: 0 20px;
}
.pokemon-profile__info {
  color: red;
}
.pokemon-img {
  width: 50%;
}